body {
  background: rgb(255, 255, 255);
}

#card {
  position: relative;
  top: 150px;
  width: 550px;
  display: block;
  margin: auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#upper-side {
  padding: 2em;
  background-color: rgb(40, 128, 255);
  display: block;
  color: #fff;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 70px;
}

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1em;
  margin-top: -.2em;
  margin-bottom: 0;
}

#lower-side {
  padding: 2em 2em 5em 2em;
  background: #c3c3c3;
  display: block;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

#message {
  margin-top: -.5em;
  color: #000000;
  letter-spacing: 2px;
}

#contBtn {
  position: relative;
  top: 1.5em;
  text-decoration: none;
  background: #0069ff;
  color: #fff;
  margin: auto;
  padding: .8em 3em;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}